In [2]:
import numpy as np
import pandas as pd

In [16]:
# extract rainfall in cm as a Numpy array, there is a header
rainfall = pd.read_csv("Seattle2014.csv") 

rainfall.shape # (365, 17) 365 days, 17 features
rainfall.head()

,STATION,STATION_NAME,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,WDF5,WSF2,WSF5,WT01,WT05,WT02,WT03
0,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140101,0,0,0,72,33,12,340,310,36,40,-9999,-9999,-9999,-9999
1,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140102,41,0,0,106,61,32,190,200,94,116,-9999,-9999,-9999,-9999
2,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140103,15,0,0,89,28,26,30,50,63,72,1,-9999,-9999,-9999
3,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140104,0,0,0,78,6,27,40,40,45,58,1,-9999,-9999,-9999
4,GHCND:USW00024233,SEATTLE TACOMA INTERNATIONAL AIRPORT WA US,20140105,0,0,0,83,-5,37,10,10,67,76,-9999,-9999,-9999,-9999

In [18]:
rainfall.describe()

,DATE,PRCP,SNWD,SNOW,TMAX,TMIN,AWND,WDF2,WDF5,WSF2,WSF5,WT01,WT05,WT02,WT03
count,3.650000e+02,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.0,365.000000,365.000000
mean,2.014067e+07,33.775342,0.219178,-54.531507,169.958904,86.624658,33.876712,181.657534,-227.232877,75.463014,-314.090411,-5834.616438,-9999.0,-9642.835616,-9916.808219
std,3.454755e+02,67.815757,4.187391,739.171802,72.687242,49.746433,14.398895,101.995505,2027.917682,27.043146,2008.055912,4936.446921,0.0,1855.862874,904.102747
min,2.014010e+07,0.000000,0.000000,-9999.000000,-16.000000,-60.000000,6.000000,10.000000,-9999.000000,31.000000,-9999.000000,-9999.000000,-9999.0,-9999.000000,-9999.000000
25%,2.014040e+07,0.000000,0.000000,0.000000,111.000000,56.000000,24.000000,100.000000,110.000000,58.000000,72.000000,-9999.000000,-9999.0,-9999.000000,-9999.000000
50%,2.014070e+07,0.000000,0.000000,0.000000,161.000000,94.000000,31.000000,200.000000,210.000000,72.000000,94.000000,-9999.000000,-9999.0,-9999.000000,-9999.000000
75%,2.014100e+07,36.000000,0.000000,0.000000,222.000000,128.000000,42.000000,230.000000,240.000000,89.000000,116.000000,1.000000,-9999.0,-9999.000000,-9999.000000
max,2.014123e+07,467.000000,80.000000,74.000000,356.000000,178.000000,88.000000,360.000000,360.000000,183.000000,250.000000,1.000000,-9999.0,1.000000,1.000000

In [17]:
# extract rainfall in cm as a Numpy array, there is a header
rainfall_cm = (rainfall["PRCP"].values)/100 # /100 to get cm
rainfall_cm.shape # (365,) - get 365 days of PRCP

(365,)

In [24]:
# get number of days with rainfall <= 0.0 cm
np.sum(rainfall_cm == 0.0) # 215 days

# get median value for rainfall, where rainfall > 0.0 cm
np.median(rainfall_cm[rainfall_cm > 0.0]) # 0.495 cm <= rainfall_cm[rainfall_cm > 0.0] is a Numpy array
# verbose way
rainy = rainfall_cm > 0 # this is a mask
np.median(rainfall_cm[rainy]) # 0.495 cm

0.495